{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Update Your Status for Today, {% now 'm/d/Y' %}</h1>
  </div>
</div>
<br>
<div id="status-message" class="row" style="display:none; text-align:center;">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-info"><h4></h4></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {% for status in statuses %}
    <p>
      <a href="javascript:void(0);" class="btn btn-block btn-lg {{ status.css_class }} status-create" data-status-id="{{ status.pk }}" data-user-id="{{ request.user.pk }}">{{ status.name }}</a>
    </p>
    {% endfor %}
  </div>
</div>
<div class="row" id="status-description" style="display:none;">
  <div class="col-md-6 col-md-offset-3">
    <textarea></textarea>
  </div>
</div>
<hr>
<div class="row">
  <h3>Status History</h3>
  {% for status in user_statuses %}
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 {{ status.status.css_class}} lego-history">
    <span style="font-size:10px;">{{ status.created|date:'d/m/Y' }}</span>
  </div>
  {% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'web/js/jquery.cookie.js' %}"></script>
<script src="{% static 'web/js/resource_rainbow/csrf.js' %}"></script>
<script src="{% static 'web/js/resource_rainbow/status.js' %}"></script>
{% endblock %}
